@{
    ViewData["Title"] = "About ";
}
<h1>Basic CRUD APP</h1>


<p>
    This application is a Basic CRUD (Create, Read, Update, Delete) WebApp designed as sort of my way to get familiar with the .Net Framework.
  
</p>
<p>
    It displays Customer data, allows users to Add Customer data, Edit and Delete them using ASP.NET Core MVC.
</p>
<br />
<br />
<br />
<br />
<br />
<br />

<h2>Built Using</h2>
<p>VS 2022</p>

<p>MS Sql Server Management 20</p>
